@import "variables";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "movie";
@import "movieForm";

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: whitesmoke;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--antracit);
}
